<div class="container">
	<div class="row">
		<div class="col">
			<%= image_tag('blue-bottle-logo.png') %>
		</div>
	</div>
  <div class="row">
    <div class="col-1">
      <div class="date">
      	<span class="month"><%= @today_month %></span>
      	<span class="day"><%= @today_day %></span>
      </div>
    </div>

    <div class="col-6 align-title">
      <h2>Perfectly Ground Work Orders</h2>
    </div>

    <div class="col align-title">
    	<button type="button" class="btn btn-primary align-button" data-toggle="modal" data-target="#createOrder">
  			Create Order
			</button>
    </div>
  </div>

	<div class="modal fade" id="createOrder" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="close-x">&times;</span>
        </button>
	      <div class="modal-header">
	        <h4 class="modal-title">
	        	Perfectly Ground Work Orders
	        </h4>
	        <p>Instructional text would go here - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam malesuada lobortis nisl. Nam imperdiet est quis facilisis scelerisque.</p>
	      </div>
	      <div class="modal-body">
					<form>
					  <div class="form-row">
					    <div class="form-group col-md-6">
					      <label for="inputEmail4">Coffee<span class="asterisk">*</span></label>
					      <select id="inputState" class="form-control">
					        <option selected>Choose One</option>
					        <option>Bella Donovan</option>
					        <option>Giant Steps</option>
					      </select>
					    </div>
					    <div class="form-group col-md-6">
					      <label for="inputPassword4">Brew Method<span class="asterisk">*</span></label>
					      <select id="inputState" class="form-control">
					        <option selected>Choose One</option>
					        <option>Aeropress</option>
					        <option>Coffee Maker</option>
					        <option>Cold Brew</option>
					        <option>French Press</option>
					        <option>Pour Over</option>
					      </select>
					    </div>
					  </div>
					  <div class="form-row">
					    <div class="form-group col-md-6">
					      <label for="inputCity">Ship Date<span class="asterisk">*</span></label>
					      <input type="text" class="form-control" id="inputCity">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputState">Number of Cases<span class="asterisk">*</span></label>
					      <select id="inputState" class="form-control">
					        <option selected>#</option>
					        <option>1</option>
					        <option>5</option>
					        <option>10</option>
					        <option>15</option>
					        <option>20</option>
					      </select>
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputZip">Packets per Case<span class="asterisk">*</span></label>
					      <select id="inputState" class="form-control">
					        <option selected>#</option>
					        <option>25</option>
					        <option>50</option>
					      </select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputAddress">Notes</label>
					    <input type="text" class="form-control" id="inputAddress">
					  </div>
					  <div class="form-group">
					    <div class="form-check">
					      <input class="form-check-input" type="checkbox" id="gridCheck">
					      <label class="form-check-label" for="gridCheck">
					        Priority
					      </label>
					    </div>
					  </div>
					  <button type="submit" class="btn btn-primary">Submit work order</button>
					</form>
	      </div>
	    </div>
	  </div>
	</div>

  <div class="row align-table div-border">
  	<span class="orders">
			Orders
		</span>
		<div class="line"></div>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Coffee</th>
		      <th scope="col">Method</th>
		      <th scope="col">Number<br>of Cases</th>
		      <th scope="col">Packets<br>per Case</th>
		      <th scope="col">Ship Date</th>
		      <th scope="col">Order</th>
		      <th scope="col">View</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @orders.each do |order_item| %>
		  		<tr>
						<td><%= order_item.coffee %></td>
						<td><%= order_item.method %></td>
						<td><%= order_item.number_of_cases %></td>
						<td><%= order_item.packets_per_case %></td>
						<td><%= order_item.ship_date.strftime("%m/%d/%Y") %></td>
						<td><a href="#">#<%= order_item.order %></a></td>
						<td><a href="#"><i class="fas fa-eye"></i></a></td>
					</tr>
				<% end %>
		  </tbody>
		</table>
	</div>

	<div class="row">
		<div class="col">
			<nav aria-label="page navigation" class="bottom-nav">
			  <ul class="pagination">
			  	<%= will_paginate @orders, list_classes: %w(pagination), previous_label: 'Prev', next_label: 'Next' %>
			  </ul>
			</nav>
		</div>
	</div>
</div>
