@import 'bootstrap';

// Bootstrap overrides
body {
	color: #555;
	font-family: 'Avenir Next', Avenir, Roboto, 'Century Gothic', 'Franklin Gothic Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 10px;
}

h2 {
	font-weight: 400;
}

a, a:hover {
	color: #01a1dd;
}

.btn-primary {
	background-color: #01a1dd;
	border-radius: 0;
	border: none;
	padding: 12px 20px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #01a1dd;
}

.table {
	margin-bottom: 0;
}

.table td {
	padding: 1.2rem;
	vertical-align: middle;
}

.table thead th {
	border-bottom: 3px solid #01a1dd;
	border-top: none;
	padding-left: 20px;
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: rgba(0, 0, 0, 0.05);
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0);
}

.pagination {
	justify-content: center;
	margin-top: 20px;
}

.page-link {
	color: #01a1dd;
}

.page-item.active .page-link {
	background-color: #01a1dd; 
}

.modal-dialog {
	max-width: 700px;
}

.modal-content {
	border-radius: 0;
	border: none;
	padding: 25px;
}

.modal-header {
	border-bottom: 0;
	display: block;
	padding-top: 0;
}

.modal-footer {
	border-top: 0;
}

.close {
	text-align: right;
}

.form-control {
	border-radius: 0;
}

// Custom CSS
.align-table {
	margin-right: 0;
	margin-left: 0;
}

.align-button {
	float: right;
}

.align-title {
	margin-top: 37px;
}

.date {
	display: block;
	width: 65px;
	height: 73px;
	margin: 20px 0 25px;
	padding: 8px;
	background-color: #f3f3f3;
	text-align: center;
}

.date .month {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.date .day {
	font-size: 35px;
	font-weight: 450;
	letter-spacing: -1px;
	line-height: 28px;
}

.orders {
	color: #01a1dd;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 10px;
	padding: 30px 0 0 50px;
}

.line {
	border-bottom: 1px solid #dee2e6;
	width: 95%;
	margin: auto;
}

.div-border {
	border: 1px solid #dee2e6;
}

.bottom-nav {
	margin: auto;
}

.close-x {
	font-weight: 400;
	font-size: 30px;
}

.asterisk {
	color: red;
}